.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub/
.pub-cache/

build/

.idea/
.vscode/
*.iml

.metadata

__pycache__/
*.pyc

.github/
android/
ios/
linux/
macos/
web/
test/
img_temp/
script.ps1

📄 ScreenFilter终极开发计划书 (PRD v4.0).md